<AuthorizeView>
    <Authorized>
        Hello, @context.User.Claims.First(c => c.Type == "sub").Value!
        <a href="LogOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>